<div class="footer">
  <hr />
  <p>We are on a mission to build a better, more sustainable world by providing digital leaders with open source
    solutions which help them innovate faster and remove massive toil.</p>
  <p>Datum Technology, Inc. &middot; 29 Broadway &middot; New York City, NY 10006</p>

  <ul>
    <li><a href="https://console.datum.net/">Sign In</a></li>
    <li><a href="https://datum.net/privacy/">Privacy Policy</a></li>
    <li><a href="https://datum.net/terms/">Terms of Service</a></li>
  </ul>

  <p>Copyright &copy; <a href="https://datum.net">Datum Technology, Inc.</a>, All Rights Reserved</p>
</div>